.Conteiner1 {
    display: flex;
    justify-content: space-evenly;
}

.Conteiner2 {
    display: flex;
    justify-content: space-evenly;
}


.Imagem {
    display: flex;
    justify-content: center;
}

.Foto {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 20px;
}

.texto {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Exo 2', sans-serif;
}

.custom-card{
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.custom-card img {
    object-fit: cover; /* or contain, based on your preference */
    height: 100%; /* Make sure the image fills the entire height of the card */
  }